.SignIn {
  width: 50%;
  height: 480px;
  background: lightblue;
  float:left;
  text-align: center;
}

.SignIn .SignUp, form {
  margin-top: 20%;
  margin-left: 25%;
  display: flex;
  flex-direction: column; 
  width: 50%;
  justify-content: space-between;
}

.SignIn .SignUp, input[type=text], input[type=password], button {
  height: 35px;
  margin-bottom: 14px;
}

.SignUp{
  width: 50%;
  height: 100%;
  background: lightcoral;
  float: right;
}

.App-logo {
  width: 100%;
  height: 480px;
}

.Image_Div {
  width: 50%;
  float: left;
}

.UpDiv {
  cursor: pointer;
}

body {
  background: #f5f7fa;
}

.mainContainer {
  height: 100%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background: white;
}

#root{
  height: 90vh;
  align-items: stretch;
  background: #f5f7fa;
}

.one {
  background: #f5f7fa;
  height: 90vh;
}

.profile {
  width: 30%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  background: lightgrey;
  float: left
}

.courseLeftPane{
  width: 30%;
  height: 90vh;
  background: lightgrey;
  float: left
}

.commune {
  background: lightblue;
  width: 55%;
  display: flex;
  flex-direction: column-reverse;
}

.navigation {
  background: lightgrey;
  width: 13%;
  height: 100%;
  display: flex;
  flex-direction: column;
  float: right;
}

.circular-profile {
  display: inline-block;
  position: relative;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 5px auto;
}

.profile-meta {
  height: 62%;
  width: 100%;
  text-align: center;
  margin: 5px auto;
}
.divider {
  height: 3%;
  background: white;
}

.messenger {
  width: 100%;
}

.messenger form {
  width: 100%;
  margin: 0;
  flex-direction: row;
}

.messenger input[type=text]{
  width:90%;
  margin-bottom: 0;
}

.messenger button{
  width:10%;
  height: 40.5px;
  margin-bottom: 0;
}

.normal {
  background: #ccc;
  color: #000;
  margin-bottom: 15px;
}
.active {
  background: #fbfb09;
  font-weight: 600;
  text-transform: uppercase;
}

.explore {
  height: 100%;
  margin-top: 20px;
}

.add-option {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  margin-top: 20px;
}

.add-option input[type=text] {
  width: 60%;
  height: 40px;
}

.add-option button {
  width: 20%;
  height: 45px;
}

.add-option p {
  width: 30%;
}

.list_course button{
  margin-left: 15px;
  width: 26%;
}

.list_course p {
  display: inline-block;
  margin-left: 10px;
  text-transform: capitalize;
  font-weight: bold;
}

.courseMain {
  background: lightblue;
  height: 90vh;
  width:57%;
  float: left;
}

.real {
  background: lightblue;
  height: 90vh;
  float: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 40%;
  height: 30%;
  margin: 10px;
  margin-right: 15%;
  background: #f5f7fa;
  margin-bottom: 0px;
  border: inset;
}

.col-2 {
  width: 35%;
  height: 50%;
  margin: 10px;
  background: #f5f7fa;
  border: inset;
}

.col-3 {
  width: 40%;
  height: 50%;
  margin-top: -21%;
  margin-left: 10px;
  background: #f5f7fa;
  border: inset;
}